AZURE_TENANT_ID=<tenant-guid>
AGENT_CLIENT_ID=<agent-app-client-id>
AGENT_CLIENT_SECRET=<generated-locally-do-not-commit>
BILLING_API_SCOPE=api://<billing-function-hostname>/.default
BILLING_API_URL=https://<billing-function-hostname>
